<div class="fxLayout wrap">
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100" >
        
        <h2>Alemany</h2>
        <h3>Codi 5757</h3>
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <p>Activitat 1</p>
            </div>
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <p>10/12/2019</p>
            </div>

            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <i class="material-icons">delete</i>
            </div>
            
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <p>Activitat 2</p>
            </div>
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <p>3/12/2019</p>
            </div>
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <i class="material-icons">delete</i>
            </div>
            
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <p>Activitat 3</p>
            </div>
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <p>2/12/2019</p>
            </div>
            <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100" >
                <i class="material-icons">delete</i>
            </div>
            
        </div>

    </div>
</div>

