<div  class="fxLayout wrap">
    <div  fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100" >
        <h2>Estudiants</h2>
        <h6>{{assignatura.nom}} Codi {{assignatura.codi}} any {{assignatura.any}}</h6>
        <div class="button-row" style="padding-top:10px;">
            <button  class="btn btn-success" (click) = "nouAlumne()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                nou alumne
            </button>
            <button (click) = "administrarEstudiantsCsv()" class="btn btn-warning">
                nous alumnes csv
            </button>
            <button (click) = "cancelar()" class="btn btn-danger">
                Cancelar
            </button>
        </div>
    </div>
</div>
<div fxLayout="row wrap" style="padding-top: 10px; font-weight: bold;">
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="33" fxFlex="33" >
        <p>Nom</p>
    </div>
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="33" fxFlex="33" >
        <p>NIU</p>
    </div>

    
    
</div>

<div *ngFor="let alumne of alumnes"  fxLayout="row wrap" style="padding-top: 10px;">
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="33" fxFlex="33" >
        <p>{{alumne.nom}}  {{alumne.cognom}}</p>
    </div>
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="33" fxFlex="33" >
        <p>{{alumne.codi}}</p>
    </div>

    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="33" fxFlex="33" >
        <button [disabled]="loading" class="btn btn-danger" (click)="borrarAlumne(alumne.id)">
            <i  class="material-icons">delete</i>
        </button>
        
    </div>
    
</div>


